/Text/Presentations/apres_tencon_2019.aux
/Text/Presentations/apres_tencon_2019.bbl
/Text/Presentations/apres_tencon_2019.blg
/Text/Presentations/apres_tencon_2019.log
/Text/Presentations/apres_tencon_2019.nav
/Text/Presentations/apres_tencon_2019.out
/Text/Presentations/apres_tencon_2019.pdf
/Text/Presentations/apres_tencon_2019.snm
/Text/Presentations/apres_tencon_2019.synctex.gz
/Text/Presentations/apres_tencon_2019.toc
/Text/Presentations/apres_tencon_2019.vrb
