/tese-exemplo.aux
/tese-exemplo.bbl
/tese-exemplo.blg
/tese-exemplo.brf
/tese-exemplo.idx
/tese-exemplo.lof
/tese-exemplo.log
/tese-exemplo.lot
/tese-exemplo.out
/tese-exemplo.pdf
/tese-exemplo.synctex.gz
/tese-exemplo.toc
